.backdrop {
  position: fixed;
  inset: 0px;
  background-color: rgba(47, 47, 47, 0.6);
  z-index: 15;
  overflow: auto;
  display: grid;
  place-items: center;
  padding: 20px;
}

.container {
  position: relative;
  background-color: white;
  border-radius: 15px;
  padding: 40px 20px;
  min-width: 343px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
}

.closeIcon {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .container {
    border-radius: 15px;
    padding: 40px;
    min-width: 518px;
  }
}