.calendarDayInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.calendarDay {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;

  box-sizing: border-box;
}

.dayNumber {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: center;
}

.percentage {
  font-size: 10px;
  color: #2f2f2f99;
  font-weight: 400;
  line-height: 10px;
  text-align: left;
}

.currentDate {
  background-color: #323f47; /* Зеленый цвет или любой другой на ваш выбор */
  color: #9be1a0; /* Белый цвет текста для контраста */
}

/* Mobile гумова верстка від 320 px до 374 px */
@media screen and (max-width: 374px) {
}

/* Mobile адаптивна верстка з 375 px до 767 px */
@media screen and (min-width: 375px) and (max-width: 767px) {
}

/* Tablet адаптивна верстка з 768 px до 1439 px */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .calendarDayInfo {
    gap: 4px;
  }
  .dayNumber {
    font-size: 16px;
    line-height: 24px;
  }

  .calendarDay {
    width: 38px;
    height: 38px;
  }
}

@media screen and (min-width: 1440px) {
  .dayNumber {
    font-size: 16px;
    line-height: 24px;
  }

  .percentage {
    font-size: 12px;
    line-height: 22.4px;
  }
  .calendarDay {
    width: 38px;
    height: 38px;
  }
}
