.lng {
    border-radius: 30px;
    border: 1px solid #323f47;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 14px;
    color: #323f47;
    text-decoration: none;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

@media (min-width: 1440px) {
    .lng:hover {
        border-color: #87d28d;
        color: #87d28d;
    }
}