.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}

@media screen and (min-width: 1440px) {
  .section {
    flex-direction: row;
    gap: 32px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}