.general {
  background-color: rgb(255, 255, 255);
  padding: 18px 14px;
  border-radius: 15px;
  width: 149px;
  list-style: none;
  flex-shrink: 0; /* предотвращает уменьшение ширины */
}

.noWater {
  padding-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.29;
  min-height: 142px;
  color: rgb(218, 19, 48);
}

.waterListWrap {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 8px;
  padding-bottom: 24px;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.waterListWrap::-webkit-scrollbar {
  height: 8px;
}

.waterListWrap::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f1f1f1;
}

.waterListWrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

.waterListWrap::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (min-width: 768px) {
  .general {
    padding: 20px;
    width: 192px;
  }
  .waterListWrap {
    gap: 16px;
  }
  .noWater {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .general {
    margin-left: 16px;
    width: 192px;
  }
  .waterListWrap {
    gap: 16px;
  }
  .noWater {
    padding-top: 30px;
    font-size: 20px;
  }
}
