.general {
  background-color: rgb(255, 255, 255);
  padding: 18px 14px;
  border-radius: 15px;
  list-style: none;
  flex-shrink: 0;
}

.noWater {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.29;
  color: rgb(155, 225, 160);
}

.waterListWrap {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 8px;
  padding-bottom: 24px;
}

.waterListWrap::-webkit-scrollbar {
  height: 8px;
  background-color: rgba(26, 24, 47, 0.15);
  border-radius: 5px;
  width: 235px;
}

.waterListWrap::-webkit-scrollbar-thumb {
  background: rgb(50, 63, 71);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .general {
    padding: 20px;
    min-width: 192px;
    height: 86px;
  }
  .waterListWrap {
    gap: 31.5px;
  }
  .noWater {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .waterListWrap {
    gap: 15.5px;
  }
  .noWater {
    font-size: 20px;
  }
  .water {
    margin-bottom: 85px;
  }
}
