.waterDetailedInfo {
  background-color: #f0eff4;
  border-radius: 30px;
  padding: 40px 20px;
  overflow: hidden;
  width: 343px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .waterDetailedInfo {
    padding: 32px;
    padding-top: 41px;
    padding-bottom: 0;
    width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .waterDetailedInfo {
    width: 672px;
  }
}
@media screen and (max-width: 374px) {
  .waterDetailedInfo {
    width: 288px;
  }
}
