.addWaterBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: inherit;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border: none;
  cursor: pointer;
  gap: 10px;
}

.iconCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #81de89;
  border-radius: 50%;
  flex-shrink: 0;
  transition: background-color 0.3s ease-in-out;
}

.btnLabel {
  white-space: nowrap;
}

.iconCircle:hover {
  background-color: black;
}

.addWaterIcon {
  stroke: black;
  width: 16px;
  height: 16px;
  transition: stroke 0.3s ease-in-out;
}

.addWaterIcon:hover {
  stroke: white;
}

@media screen and (min-width: 768px) {
  .addWaterBtn {
    width: 124px;
    height: 30px;
    font-size: 16px;
    line-height: 150%;
  }

  .addWaterIcon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .addWaterBtn {
    line-height: 24px;
  }

  .addWaterIcon {
    width: 24px;
    height: 24px;
  }
}