.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 элементов в строку */
  /* display: flex;
  flex-wrap: wrap; */
  padding: 0;
  gap: 10px;
  background-color: #f0eff4;
  box-sizing: border-box;
  margin-top: 24px;
  /* grid-template-columns: repeat(7, 1fr);/* 7 элементов в строку */
}

/* Mobile гумова верстка від 320 px до 374 px */
@media screen and (max-width: 374px) {
}

/* Mobile адаптивна верстка з 375 px до 767 px */
@media screen and (min-width: 375px) and (max-width: 767px) {
}

/* Tablet адаптивна верстка з 768 px до 1439 px */
@media screen and (min-width: 768px) and (max-width: 1439px) {
}

/* Desktop адаптивна верстка з 1440 px і більше */
@media screen and (min-width: 1440px) {
}
