.logo {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #323f47;
  text-decoration: none;
}

@media (min-width: 768px) {
  .logo {
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.01em;
    padding-left: 32px;
  }
}

@media (min-width: 1440px) {
  .logo {
    letter-spacing: -0.01em;
    transition: color 0.2s ease-in-out;
  }

  .logo:hover {
    color: #9be1a0;
  }
}