.container {
  display: flex;
  align-items: end;
}

.month {
  margin: 0 10px;

  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: center;
}

.navButton {
  background-color: #f0eff4;
  border: none;
  width: 18px;
  height: 18px;
}
