.container {
  display: flex;
  position: relative;
  padding-right: 20px;
}

.yAxisContainer {
  position: sticky;
  left: 0;
}

.scrollContainer {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

.chartWrapper {
  width: 100%;
}

.dot {
  stroke: #87d28d;
  stroke-width: 3;
  fill: #ffffff;
  r: 6; /* radius of dot */
}

.gradientStopTop {
  stop-color: #9be1a0; /* High gradient`s color */
  stop-opacity: 1;
}

.gradientStopBottom {
  stop-color: #9be1a0; /* low gradient`s color */
  stop-opacity: 0;
}

.area {
  stroke-width: 3;
  fill-opacity: 1;
}

.xSymbol,
.ySymbol {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

/* Tablet adaptive */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .scrollContainer {
    width: 100%;
  }
  .container {
    padding-bottom: 40px;
  }
}

/* Desktop adaptive */
@media screen and (min-width: 1440px) {
  .scrollContainer {
    /* margin-top: 40px; */
    width: 100%;
  }
  .container {
    padding-right: 0;
  }
}
