.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 999;
  overflow: auto; 
  padding: 20px;
}

.container {
  position: relative;
  background-color: white;
  border-radius: 15px;
  padding: 40px 20px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}
.container::-webkit-scrollbar {
  width: 10px;
  height: 283px;
}

.container:-webkit-scrollbar-track {
  border-radius: 10px;
  background: white;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background: rgb(219, 215, 216);
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
}

svg {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .container {
    border-radius: 15px;
    padding: 40px;
    width: 920px;
  }
}
