.general {
  position: relative;
}
.dropdown {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: inherit;
  border: none;
}

.button {
  padding: 6px 12px;
  background-color: #323f47;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  position: relative;
}

.userName {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #fff;
}

.chevron {
  width: 16px;
  height: 16px;
  color: #fff;
}
.modal {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .dropdown {
    justify-content: center;
  }
  .chevron {
    width: 20px;
    height: 20px;
  }
  .button {
    gap: 10px;
  }
  .userName {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: center;
  }
}
