.monthInfoContainer {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightContainer {
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
}

p {
  margin: 0 10px;
}
