.monthInfoContainer {
  /* display: flex; */
  /* flex-direction: column; */
  padding-top: 40px;
}

button {
  background: none;
  border: none;
}
.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

h3 {
  margin: 0;
}

.icon {
  width: 16px;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .icon {
    width: 24px;
  }

  h3 {
    font-family: Poppins;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.01em;
  }
}

/* Desktop*/
@media screen and (min-width: 1440px) {
  .monthInfoContainer {
    padding-top: 40px;
  }
  .icon {
    width: 24px;
  }

  h3 {
    font-family: Poppins;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.01em;
  }
}
