.customTooltip {
  width: 100px; /* Задайте нужные размеры */
  height: 50px;

  box-shadow: 0px 5px 10px 0px #cbd1df80;
}

.label {
  fill: #323f47;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;
  text-align: left;
}
