.waterListBlock {
  display: flex;
  padding-left: 0px;
  height: 30px;
  justify-content: space-between;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .waterListBlock {
    display: flex;
  }
}
@media screen and (min-width: 1440px) {
  .waterListBlock {
    display: flex;
    padding-left: 16px;
    height: 32px;
  }
}
