.log_out {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  padding-bottom: 28px;
  padding-top: 16px;
}

.button_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logout_button {
  min-width: 173px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #323f47;
  background: #9be1a0;
  border-radius: 30px;
  padding: 18px 36px;
}

.logout_button:hover,
.logout_button:focus {
  background-color: #87d28d;
}

.cancel_button {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.01em;
  border-radius: 30px;
  padding: 18px 36px;
  min-width: 173px;
  background: #f0eff4;
  color: rgba(50, 63, 71, 0.3);
}

.cancel_button:hover {
  color: #323F47;
}

@media screen and (min-width: 768px) {
  .log_out {
    font-size: 28px;
    line-height: 1.14286;
  }

  .text {
    font-size: 18px;
    line-height: 1.33333;
  }


  .button_container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .logout_button {
    font-size: 16px;
  }

  .cancel_button {
    font-size: 16px;
  }
}